body {
    background-color: #e3f4dc;
    padding: 10px;
    padding-left: 30px;
    padding-top: 30px;
}

.Text {
    border-bottom: solid 5px #FF9AA2;
    border-left: solid 5px #FF9AA2;
    background-color: #FFB7B2;
    color: #f8818a;
    width: 100%;
    padding: 10px;
}

.img {
    border: double 5px #FF9AA2;
    padding: 0px;
}